# Node modules
node_modules/

# dotenv environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm

# Coverage reports
coverage/

# IDEs
.vscode/
.idea/

# Output
dist/
